@import '../../../../../theme/variables.scss';

.card-group {
  .header {
    background-color: var(--ion-color-light);
    width: 100%;
    height: 8vw;
    margin-bottom: -4vw;
  }

  .title {
    background-color: var(--ion-color-warning);
    color: black;
    font-weight: 900;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.5em;
    letter-spacing: -1px;
    font-style: italic;
    font-size: 4vw;
    display: inline-block;
  }

  .no-events {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1.8vw;
  }

  .selected {
    background: lightgray;
  }

  .unselected {
    border: none;
  }

}